{% extends "network/layout.html" %}

{% block body %}

<div class="container text-center w-100 mx-5">
    <div class="row justify-content-center align-items-center">
        <div class="col text-center">
            <div class="row">
                <p>{{ user.username }}</p>
            </div>
            <div class="row container-avatar mx-auto">
                <i class="fa-solid fa-user-tie"></i>
            </div>

            {% if is_following %}
                {% if user.id != current_user.id %}
                    <div class="row mx-auto">
                        <button class="btn btn-primary" type="button" id="follow_btn" value="{{ user.id }}">Unfollow</button>
                    </div>
                {% endif %}
            {% else %}
                {% if user.id != current_user.id %}
                    <div class="row mx-auto">
                        <button class="btn btn-primary" type="button" id="follow_btn" value="{{ user.id }}">Follow</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col text-center">
            <p>Followers: <strong id="followers_count">{{followers_count}}</strong></p>
            <!-- Botón para abrir el modal de followers -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followersModal">
                Followers
            </button>
        </div>
        <div class="col text-center">
            <p>Following: <strong id="following_count">{{following_count}}</strong></p>
            <!-- Botón para abrir el modal de following -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followingModal">
                Following
            </button>
        </div>
    </div>
    <div class="row w-100 my-2">
        <hr class="hr-custom">
    </div>
    <div class="row w-100 my-2">
        <div class="card">
            <div class="card-header">
                <h5>Posts</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for post in posts %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col text-start">
                                    <strong>
                                        <a class="profile-link" href="{% url 'viewprofile' post.user.id %}">{{ post.user.username }}</a>
                                    </strong>
                                </div>
                                <div class="col text-end">
                                    <p>{{ post.timestamp }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <p id="post-content-{{ post.id }}">{{ post.content }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <button 
                                        type="button" 
                                        class="like_btn btn btn-outline-danger btn-sm position-relative{% if post.liked %} liked{% endif %}" 
                                        value="{{ post.id }}"
                                    >
                                        <i class="fa-solid fa-heart"></i> Like
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{ post.likes|length }}
                                            <span class="visually-hidden">likes</span>
                                        </span>
                                    </button>
                                    
                                    {% if post.user.id == current_user.id %}
                                    <button 
                                        type="button" 
                                        class="btn btn-outline-dark btn-sm position-relative edit-btn mx-1" 
                                        data-post-id="{{ post.id }}"
                                        data-post-content="{{ post.content|escapejs }}"
                                    >
                                        <i class="fa-solid fa-pen-to-square"></i> Edit
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mt-3">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}
                        
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Botón flotante -->
<button type="button" class="btn-post position-fixed bottom-0 end-0 m-3" data-bs-toggle="modal" data-bs-target="#postModal">
    <i class="fa-solid fa-plus"></i> 
</button>

<!-- Modal de Followers -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="FollowersModalBody">
                <ul>
                    {% for follower in user.followers.all %}
                        <li>
                            <a class="profile-link" href="{% url 'viewprofile' follower.id %}">{{ follower.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Following -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followingModalLabel">Following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="followingModalBody">
                <ul>
                    {% for following in user.following.all %}
                        <li>
                            <a class="profile-link" href="{% url 'viewprofile' following.id %}">{{ following.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Post -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'new_post' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput" class="form-label">User</label>
                        <input type="text" class="form-control" id="exampleFormControlInput" placeholder="{{ user.username }}" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="5" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edit Post -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'edit_post' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" id="edit-post-id">
                    <div class="mb-3">
                        <label for="edit-post-content" class="form-label">Content</label>
                        <textarea class="form-control" id="edit-post-content" name="content" rows="5" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
